.clients {
    @include centeredFlex();
    gap: 30px;

    &__link {
        display: block;
        padding: 16px 32px;
        width: 170px;
        height: 92px;
        border-color: var(--social-icons);
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;

        transition: border-color var(--transition-dur-and-func);

        &:hover,
        &:focus {
            border-color: var(--accent);
        }
    }

    &__icon {
        fill: var(--social-icons);

        transition: fill var(--transition-dur-and-func);

        .clients__link:hover &,
        .clients__link:focus & {
            fill: var(--accent);
        }
    }
}