.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &_top-padding_none {
            padding-top: 0;
        }

    &_theme_accent {
        background: var(--background-accent);
    }
}

